@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
  overflow-x: hidden;
}

.page-link {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #1b242f;
  border-bottom: 2px solid #04c2c9;
  text-align: center;
  width: 100%;
  z-index: 99;
}

nav .active {
  color: #e31b6d;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  margin-bottom: 10px;
}

/* em makes our font size property dynamic..1em = 16px so if u want 80px size u shud have 5em font-size*/

h1 {
  color: rebeccapurple;
  margin-bottom: 0.75rem;
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: rebeccapurple;
  font-weight: normal;
  margin: 0;
}

/*Navbar*/
#main {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  background: white;
  z-index: 1;
  justify-content: space-between;
  padding: 0.02rem;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #1b3030;
  padding: 15px 15px;
  margin: 7px;
}

nav ul li a:hover {
  background: rgb(129, 232, 238);
  border-radius: 5px;
}

/*Showcase*/
#showcase {
  border-top: 2px solid rgb(187, 183, 183);
  height: 70vh;
  color: #40514e;
  /* position: relative; */
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}

.top-container {
  display: grid;
  grid-gap: 2px;
  grid-template-areas:
    "showcase-content1 showcase-content1 showcase-content2"
    "showcase-content1 showcase-content1 showcase-content2";
}

.showcase-content {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.showcase-content1 {
  grid-area: showcase-content1;
  min-height: 200px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.showcase-content2 {
  grid-area: showcase-content2;
  /* background: url(../images/mountain.png); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.showcase-img {
  width: 100%;
  height: 300px;
  margin: 12px;
}

.intro {
  text-align: left;
}

.list {
  list-style: none;
  text-align: left;
  font-size: 14px;
  margin-left: -40px;
}

.list li {
  padding: 4px;
}

.span {
  font-weight: bold;
  padding: 14x;
}

.btn-showcase {
  background-color: #6a696d;
  float: left;
  width: 10%;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

hr {
  border: dotted #1b3030 6px;
  border-bottom: none;
  width: 5%;
  margin: 70px auto;
}

.top-container {
  background-color: #dbdbdb;

  padding-top: 10px;
  margin-top: 4px;
}

img {
  background: none;
}

.lead {
  font-weight: bold;
}

.happen {
  width: 40px;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 30px;
  width: 220px;
  height: 120px;
}

.bottom-cloud {
  position: absolute;
  width: 220px;
  height: 120px;
  left: 160px;
  bottom: 200px;
}

.skills {
  margin-bottom: 10px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 70px auto;
  text-align: left;
}

.web-img {
  float: left;
  width: 25%;
  margin-right: 20px;
  border-radius: 20%;
}

.frontdev-img {
  float: right;
  width: 35%;
  margin-top: 20px;
  margin-bottom: 18px;
  margin-right: 20px;
}

.design-img {
  float: left;
  width: 25%;
  margin-right: 20px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  background-color: #ffc8bd;
}

a {
  color: rgb(95, 74, 117);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 7px 12px;
}

a:hover {
  color: #40514e;
}

.experience {
  display: grid;
  width: 700px;
  margin: 50px auto;
}

.exp-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  text-align: left;
}

.first-exp {
  padding: 1px;
  line-height: 0.1;
}

.second-exp {
  padding: 1px;
  line-height: 0.1;
}

.btn {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 13pt;
  padding: 10px 20px;
  transition: all 0.5s;
  border-radius: 3px;
}
.btn:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.btn i {
  vertical-align: middle;
}

.footer {
  font-size: 14px;
  padding: 0px;
  margin-bottom: 20px;
  font-weight: bold;
}

.copyright {
  color: #5e8b8b;
  font-size: 0.75rem;
  padding: 10px 0;
}
